@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;700&display=swap');

*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 16px;
}

body{
    font-family: 'Barlow Condensed', 'sans-serif';
    background-color: #121212;
    color: #fff;
}

a{
    text-decoration:none;
}

.red{
    border: none;
    color: #fff;
    font-weight: 700;
    padding: 1.5rem 2.5rem;
    transform:skew(-10deg, 0);
    cursor: pointer;
    transition: background-color 0.5s ;
}



button:hover{
    opacity: 70%;
}

.Form{
    margin-left: auto;
    margin-right: auto;
}

.Form div{
    margin-left: 1rem;
    margin-bottom: 0.5rem ;
    margin-top: 0.5rem;
}


.container{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}