.masterhead{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    background-image: linear-gradient(#e63d3d, #121212);
    width: 100%;
    height: 100vh;
    background-position: center left;
    background-size: cover;
    color: #fff;
}
 
.masterhead > h1{
    font-size: 4rem;
    margin-left: 4rem;
    color: #fff;
}

.masterhead > h2{
    margin-left: 4rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    color: #121212;
}

.masterhead > button{
    margin-left: 4rem;
}

